<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <servlet-class>ru.innopolis.uni.course3.taxiapp.controllers.RegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthControllerServlet</servlet-name>
        <servlet-class>ru.innopolis.uni.course3.taxiapp.controllers.AuthControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControllerServlet</servlet-name>
        <servlet-class>ru.innopolis.uni.course3.taxiapp.controllers.OrderControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthControllerServlet</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControllerServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

</web-app>